$color-primary: #FF7012;//#18c79c
$color-danger: #FFF2DF;
$color-grey-lighten-2: #ECEEF2;

$main-font-size: 12px;

//$main-font-size: 14px;

//$primary-text-color: #BABFC9;
//$secondary-text-color: #666;
//$dark-border-color: #EAEAEA;
//$light-border-color: #f5f5f5;
//$main-border-color: #ebebeb;
//
//$menuBg: #304156;
//$subMenuBg: #1f2d3d;
//$menuHover: #001528;
//
//$color-cover-bg: #e7e8ea;




